
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap');*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: 'Nunito Sans' , -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif;
  line-height: 1.6;
  background-color: #f4f7f6; 
  color: #333;
}

.app-container {
  max-width: 960px; 
  margin: 0 auto;   
  padding: 1.5rem;  
}

h1, h2, h3 {
  margin-top: 0;
  font-weight: 600;
}