.simple-home {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 4rem 1rem; 
  gap: 4rem;
}

.simple-home h1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  color: #222; 
}

.simple-home p {
  font-size: 1.25rem;
  font-weight: 300; 
  color: #555;
  
  margin: 0 auto; 
  line-height: 1.7;
}
button {
  font-size: 1rem;
  padding: 0.8rem 1.5rem;
  background-color: #007bff;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 6px; 
  text-decoration: none;
}
